.header{
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 293px;
 }

.header__navigation{
  display: flex;
  flex-flow: row nowrap;
  margin-left: 50px;
  padding: 0;
  list-style-position: inside;
  list-style-type: circle;
  gap: 8px;
}

.menu__item{
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
}

.menu__link{
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/* т.к. в макете отступ от маркера 7 пикселей - отдельно настраиваем маркер */

.menu__item__marker{
  position: relative;
  left: -7px;
}

/* т.к. у активного элемента меню нет подчёркивания и маркера - для него особый подход */

.active{
  list-style-type: none;
  border-bottom: none;
}

.menu__item.active{
  padding-right: 7px;
}

.header__logo{
  position: absolute;
  z-index: -1;
  width: 100%;
  text-align: center;
}

.logo__image {
  width: 148px;
  height: 105px;
  margin: auto;
}

.contacts{
  width: 240px;
  margin-right: 50px;
  list-style-type: none;
}

.contacts__item{
  color: #000;
  font-size: 18px;
  line-height: 24px;
}

.contacts__phone{
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.contacts__email{
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.contacts__address{
  font-style: normal;
}

.jumbotron{
  display: flex;
  flex-flow: column nowrap;
  height: 757px;

  /* затемнение фона */

  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  url('/images/cover.jpg') center center no-repeat;

  /* т.к. у нас кроп с изображения - просто увеличиваем его */

  background-size: 127.5% auto;
}

.jumbotron__title {
  display: flex;
  flex-flow: column nowrap;
  margin: 165px 50px 0;
  row-gap: 20px;
}

.jumbotron__title-row {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #fff;
}

.first-row {
  line-height: 115px;
  align-self: start;
}

.second-row {
  align-self: center;
}

.third-row {
  align-self: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-spacing {
  letter-spacing: 0;
}

.jumbotron__footer {
  display: flex;
  align-items: end;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 135px 50px 0;
}

.subline {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 62px;
  margin-left: 32px;
  word-spacing: 18px;
  text-transform: uppercase;
  color: #FFF;
}

.jumbotron__footer__make-bet-button {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 51px;
  padding: 14px 32px;
  text-transform: uppercase;
  color: #FFF;
  border: 1px #FFF solid;
  background-color: transparent;
}
