.header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: 92px 51px 89px;
  grid-template-columns: 1fr min-content 1fr;
}

.header__navigation {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  list-style-position: inside;
  list-style-type: circle;
  gap: 8px;
}

.menu__item {
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
}

.menu__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/* т.к. в макете отступ от маркера 7 пикселей - отдельно настраиваем маркер */

.menu__item__marker {
  position: relative;
  left: -7px;
}

/* т.к. у активного элемента меню нет подчёркивания и маркера - для него особый подход */

.active {
  list-style-type: none;
  text-decoration: none;
  border-bottom: none;
}

.menu__item.active {
  padding-right: 7px;
}

.header__logo {
  width: 140px;
}

.logo__image {
  width: 100%;
}

.header .contacts {
  justify-self: end;
}

.contacts {
  width: 240px;
}

.contacts__list {
  list-style-type: none;
}

.contacts__item {
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.contacts__link {
  font-style: normal;
  text-decoration: underline;
  text-underline-position: under;
}

.contacts__address {
  font-style: normal;
}

.jumbotron {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  min-height: 757px;
  background:
  url('/images/cover.jpg') center center no-repeat;

  /* т.к. у нас кроп с изображения - просто увеличиваем его т.к. cover не сходится с макетом */

  background-size: 127.5% auto;
  Z-index: 1;
}

.cover {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.jumbotron__title {
  display: flex;
  flex-flow: column nowrap;
  margin: 165px 50px 0;
  row-gap: 20px;
  Z-index: 1;
}

.jumbotron__title-row {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #fff;
  Z-index: 1;
}

.first-row {
  align-self: start;
}

.bigger-text {
  line-height: 115px;
}

.second-row {
  align-self: center;
}

.third-row {
  align-self: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-spacing {
  letter-spacing: 0;
}

.jumbotron__footer {
  display: flex;
  align-items: end;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 135px 50px 0;
  Z-index: 1;
}

.subline {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 62px;
  margin-left: 32px;
  word-spacing: 18px;
  text-transform: uppercase;
  color: #FFF;
  Z-index: 1;
}

.jumbotron__footer__make-bet-button {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 51px;
  padding: 14px 32px;
  text-transform: uppercase;
  color: #FFF;
  border: 1px currentColor solid;
  background-color: transparent;
  Z-index: 1;
}

.lots {
  display: flex;
  flex-flow: column nowrap;
  margin: 179px 24px 0;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.17;
  margin-left: 40px;
  text-transform: uppercase;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  margin: 25px 0 30px;
  gap: 25px;
}

.card-listing {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lot-card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 334px;
  min-height: 563px;
  color: #FFF;
  Z-index: 1;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  margin: 48px 40px 0;
  text-decoration: underline;
  text-transform: uppercase;
  Z-index: 1;
}

.card__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 40px 48px;
  Z-index: 1;
}

.movie-lot {
  background: url('/images/card-lot-01.jpeg') center center/ cover no-repeat;
}

.book-lot {
  background: url('/images/card-lot-02.png') center center/ cover no-repeat;
}

.image-lot {
  background: url('/images/card-lot-03.jpg') center center/ cover no-repeat;
}

.more-lots {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 0 40px;
}

.about {
  display: grid;
  justify-content: space-between;
  margin: 146px 24px 178px;
  gap: 60px;
  grid-template-columns: 1fr 2.3fr;
}

.logo__container {
  display: flex;
  align-self: start;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin: 35px 0 0 47px;
  border-radius: 50%;
  background-color: #000;
  justify-self: start;
}

.about__logo {
  width: 148px;
}

.about__description {
  margin-top: 133px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 101px;
  text-transform: uppercase;
}

.about__description__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 26px;
}

.footer__block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 50px 85px;
}

.footer__menu {
  display: flex;
  align-items: center;
  align-self: start;
  flex-flow: column nowrap;
  margin: 0 0 3px 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  white-space: nowrap;
}

.footer__menu-item__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  text-underline-position: under;
}

.footer__socials__container {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  gap: 48px;
}

.social__logo {
  width: 48px;
  height: 48px;
}
